header{
    height: 100vh;
}
header .flex--container{
    height: calc(100% - 50px);
}
header .flex--container div.text{
    padding-left: 1rem;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
header .flex--container div.text section.intro{
    height: 80%;
}
header .flex--container div.text section.intro h1{
    font-size: 1rem;
}
header .flex--container div.text section.intro h1 span{
    color: var(--main-color);
}
header .flex--container div.text section.intro p{
    font-size: .9rem;
}
header .flex--container div.text section.button{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header .flex--container div.text section.button a{
    padding: .5rem;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
header .flex--container div.text section.button a .icons{
    color: var(--main-color);
    font-size: 1rem;
    transition: all .2s;
}
header .flex--container div.text section.button a:hover{
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color) ;
}
header .flex--container div.text section.button a:hover .icons{
    color: var(--bg-color);
}
header .flex--container div.nft-photo{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .flex--container div.nft-photo article.image--container{
    width: 70%;
    height: 70%;
    background: linear-gradient(to top right, var(--second-bg-color) , var(--main-color));
    border-radius: 30% 70% 75% 25% / 30% 30% 70% 70%;
    z-index: -1;
    box-shadow: 0 2px 6px var(--main-color);
    border: 2px solid #00000083;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: upward 3s ease-in-out infinite alternate;
}
header .flex--container div.nft-photo article.image--container img{
    width: 100%;
    transform: translate(10%, -10%);
    animation: downward 3s ease-in-out infinite alternate;
}
@keyframes upward {
    100%{
        transform: translateY(10%);
        border: 2px solid var(--main-color);
        box-shadow: 0 2px 10px var(--main-color);
    }
}
@keyframes downward {
    100%{
        transform: translate(15%, -15%);
    }
}


@media screen and (max-width: 260px) {
    header .flex--container div.text section.intro h1{
        font-size: .9rem;
    }
}
@media screen and (max-width: 294px) {
    header .flex--container div.text section.intro p{
        font-size: .8rem;
    }
}
@media screen and (min-width: 501px) {
    header .flex--container{
        width: 100%;
        height: calc(100% - 70px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .flex--container div.text {
        padding-left: 2rem;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    header .flex--container div.text section.intro{
        height: auto;
    }
    header .flex--container div.text section.intro h1{
        font-size: 1.6rem;
    }
    header .flex--container div.text section.intro p{
        font-size: 1.1rem;
    }
    header .flex--container div.nft-photo {
        width: 50%;
        height: 100%;
    }
    
}
@media screen and (min-width: 600px) {
    header .flex--container div.nft-photo article.image--container{
        width: 300px;
        height: 300px;
    }
}
@media screen and (min-width: 900px) {
    header .flex--container div.text section.intro h1{
        font-size: 2.3rem;
    }
    header .flex--container div.text section.intro p{
        font-size: 1.2rem;
    }
    header .flex--container div.nft-photo article.image--container{
        width: 400px;
        height: 400px;
    }
    header .flex--container div.nft-photo article.image--container img{
        width: 350px;
    }
}
@media screen and (min-width: 1000px) {
    header .flex--container div.nft-photo article.image--container img{
        width: 400px;
    }
}
