section.dineroli{
    padding: 1rem;
}
section.dineroli .back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #000;
    font-weight: 6000;
}
section.dineroli h1{
    color: var(--main-color);
}
section.dineroli article{
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
section.dineroli article a{
    color: #ffffffb4;
}
section.dineroli section.massive--link{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(2, 49%);
    grid-gap: 10px;
}
section.dineroli section.massive--link .link{
    width: 100%;
    height: 100%;
    background-color: #ffffffa1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.dineroli section.massive--link .link:hover{
    background-color: #fff;
}
section.dineroli section.massive--link .link h1{
    font-size: 3rem;
    color: #000;
    
}