footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
footer.maxWidth .box{
    width: 24%;
    height: 200px;
}
footer.maxWidth .box img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}
footer.maxWidth .box-border{
    padding-top: 1rem;
    border-top: 2px solid var(--second-bg-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
footer.maxWidth .box-border a{
    color: #ffffff8e;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
}
footer.maxWidth .box-border a:hover{
    color: #fff;
}
footer.maxWidth .box-border a .icons{
    color: var(--main-color);
}
@media screen and (max-width: 650px) {
    footer.maxWidth{
        padding-left: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    footer.maxWidth .box.img{
        width: auto;
        height: auto;
    }
    footer.maxWidth .box-border{
        width: 80%;
    }
}