footer{
    width: 100%;
    height: 70px;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer small{
    font-size: .9rem;
}
footer small a{
    color: var(--main-color);
    animation: dim .89s ease-in-out  infinite alternate;
}
@keyframes dim {
    100%{
        color: rgba(0, 238, 255, 0.555);
    }
}
footer a.a{
    font-size: 1.8rem;
    color: var(--main-color);
}
@media screen and (max-width: 538px) {
    footer{
        padding: 3rem 0;
        flex-direction: column-reverse;
    }
}