@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
  transition: all .3s;
}
:root{
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html{
  scroll-behavior: smooth;
  /* scroll-padding-top: 5rem; */
}
html::-webkit-scrollbar {
  width: .5rem;
}
html::-webkit-scrollbar-track {
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
body{
  position: relative;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}
.header-h1{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.header-h1 span {
  color: var(--main-color);
}
.btn{
    width: 8rem;
    height: 3.1rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    font-weight: 600;
    box-shadow: 0 0 8px var(--main-color);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}
.btn:hover{
    box-shadow: 0 0 8px transparent;
}